// Home Content
.main-content {
  margin-top: 135px;
}
.home {

  .intro {

    img {
      .topImage ();
    }

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media @phone{
        .launch{
          display:none;
        }

        .sky{
          display:none;
        }
    }//this closes @media

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;
      @media @phone {
        width:100%;
        margin: 20px 4%;
      }
    }
  }//this closes space-images

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }//this closes visit-planets

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 50px 60px;
    display: flex;
    justify-content: center;

    @media @phone {
      width:100%;
      flex-direction: column-reverse;
      padding: 15px 4% 15px 4%;
      margin-top: 10px;
    }

    .walk-text {
      width: 50%;
      
      @media @phone{
        width:100%;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .signUpBTN(120px, 5px, 2rem);
        @media @phone{
          width:100%;
          padding: 25px;
        }

        &:hover {
          background: @porcelain;
          color: @btn-bg-color;
          border: 1px solid @btn-bg-color;
        }
      }//this closes btn
    }//this closes walk-text

    .walk-img {
      width: 46%;
      margin-left: 4%;

      @media @phone {
        width:100%;
        margin-left: 0%;
        margin-bottom: 15px;
        margin-top: 10px;
      }
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;
      }
    }//this closes walk-img
  }//this closes walk
}// home