// Mixins Here

.topImage {
  width: 100%;
  height: auto;
  border-radius: 5px;
}


.navigationLinks {

}


.signUpBTN (@width, @radius) {
  width: @width;
  border-radius: @radius;
  background: @btn-bg-color;
  color: @porcelain;
  text-align:center;
  font-size: 1.6rem;
  padding: 10px;
}